
<html>
    <head>
        <link rel="icon" href="/img/download.jpg">
          <title>clock</title>
          <h1>{{title}}</h1>
      <nobr>   <a href="/">clock&#128279;</a>
<a href="/stopwatch">stopWatch&#128279;</a>
<a href="/timer">Timer&#128279;</a></nobr>
 <link rel="stylesheet"href="/css/style.css">
 
    </head>
    <body onload="load()">
      
        <script src="/js/stopwatch.js"></script>
        

<p id="stopwatch">00:00:00:00</p>
<nobr><button onclick="stopwatch()" id="startbtn">start</button>
<button  id="stop" onclick="stop()">stop</button>
<button onclick="reset()"   id="resetbtn">reset</button></nobr>





    </body>
</html>