

<html>
    <head>
        <link rel="icon" href="/img/download.jpg">
          <title>clock</title>
          <h1>{{title}}</h1>
      <nobr>   <a href="/">clock&#128279;</a>
<a href="/stopwatch">stopWatch&#128279;</a>
<a href="/timer">Timer&#128279;</a></nobr>
 <link rel="stylesheet"href="/css/style.css">
 
    </head>
    <body onload="timer_load()">
      
        <script src="/js/timer.js"></script>
        <p id="timer">00:00:00</p>
        <nobr>
          <input id="hours" placeholder="hours" size=2>
  <input id="minute" placeholder="minutes" size=2>      
<input id="seconds" placeholder="seconds" size=2>
<button onclick="start()"id="timer_start">start</button>
<button onclick="reset()"id="timer_reset">reset</button></nobr>

</body>
</html>
