body{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    background-color: royalblue;
flex-grow:1;
}

h1{
    padding-bottom: 40px;
    font-size: 60px;
    font-style: italic;
} 
 a{
    padding:20px;
   
}

p{
padding-top:60px ;
font-size: 40px;
}