<html>
    <head>
        <link rel="icon" href="/img/download.jpg">
          <title>clock</title>
          <h1>Clock</h1>
          {{>header}}
 <link rel="stylesheet"href="/css/style.css">
 
    </head>
    <body>
      
        <script src="/js/time.js"></script>
        
<p id="demo" class="demo"> </p><br>
<p id="stopwatch"></p>

    </body>
</html>