
<html>
    <head>
        <link rel="icon" href="/img/download.jpg">
          <title>clock</title>
          <h1>{{title}}</h1>
          {{>header}}
 <link rel="stylesheet"href="/css/style.css">
 
    </head>
    <body>
      
        <script src="/js/time.js"></script>
        

<p id="stopwatch">00:00:00:00</p>
<button onclick="stopwatch()" id="startbtn">start</button>
<button  id="stop" onclick="stop()">stop</button>
<button onclick="reset()"   id="resetbtn">reset</button>





    </body>
</html>